<!DOCTYPE html>
<!--[if lt IE 9]> <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if !IE] -->
<html lang='en'>
<!-- <![endif] -->
{{ partial "head2.html" . }}

<body class='index'>
  <div id='wrapper'>
    {{ partial "header2.html" . }}
    <div id='main' role='main'>
      <div id='main-content'>
        <div class='container'>
          {{ partial "about-sidebar2.html" . }} {{ .Content }}
        </div>
      </div>
      <!-- #scroll to top -->
      <div class='fade' id='scroll-to-top'>
        <i class='fa fa-chevron-up'></i>
      </div>
      <!-- / #scroll to top -->
    </div>
    <!-- / #main -->
    {{ partial "footer2.html" . }}
  </div>
  <!-- / #wrapper -->
  {{ partial "scripts2.html" . }}
</body>

</html>