<div class="col-sm-4">
  <div class="sidebar">
    <button class="btn btn-block sidebar-toggle" data-target=".sidebar-collapse" data-toggle="collapse" type="button">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="sidebar-collapse collapse">
      <div class="box">
        <img class="img-responsive img-rounded center-block margin-20" alt="..." width="..." height="..." src="http://greatcarrot.com/fudan/images/bi-fudan-alumni-logo.png">
      </div>
      <div class="box">
        <ul class="list-group">
          <li class='list-group-item'><i class="fa fa-angle-right fa fa-fixed-width"></i>
            <a href='../alumni_organization/main.html'>Join & Share</a>
          </li>
          <li class='list-group-item'><i class="fa fa-angle-right fa fa-fixed-width"></i>
            <a href='../students.html'>Student Profiles</a>
          </li>
          <li class='list-group-item'><i class="fa fa-angle-right fa fa-fixed-width"></i>
            <a href='../alumni_organization/awards.html'>Honorary Awards</a>
          </li>
          <li class='list-group-item'><i class="fa fa-angle-right fa fa-fixed-width"></i>
            <a href='../alumni_organization/departments_and_clubs.html'>Departments & Clubs</a>
          </li>
          <li class='list-group-item'><i class="fa fa-angle-right fa fa-fixed-width"></i>
            <a href='../alumni_organization/article_of_association.html'>Article Of Association</a>
          </li>
          <li class='list-group-item'><i class="fa fa-angle-right fa fa-fixed-width"></i>
            <a href='../events.html'>Events</a>
          </li>
          <li class='list-group-item'><i class="fa fa-angle-right fa fa-fixed-width"></i>
            <a href='../alumni_organization/previous_events.html'>Previous Events</a>
          </li>
          <li class='list-group-item'><i class="fa fa-angle-right fa fa-fixed-width"></i>
            <a href='../alumni_organization/previous_chairperson.html'>Previous Chairmen</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- sidebar-collapse -->
  </div>
</div>