<nav class='navbar navbar-default' id='nav' role='navigation'>
  <div class='navbar-header'>
    <button class='navbar-toggle' data-target='.navbar-header-collapse' data-toggle='collapse' type='button'>
      <span class='sr-only'>Toggle navigation</span>
      <span class='icon-bar'></span>
      <span class='icon-bar'></span>
      <span class='icon-bar'></span>
    </button>
  </div>
  <div class='collapse navbar-collapse navbar-header-collapse'>
    <ul class='nav navbar-nav navbar-right'>
      <li class='active'>
        <a href='../index.html'>
          <span>Home</span>
        </a>
      </li>
      <li class='dropdown'>
        <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href='#'>
          <span>Academic Experience<i class='fa fa-angle-down'></i></span>
        </a>
        <ul class='dropdown-menu' role='menu'>
          <li class='dropdown-submenu'>
            <a href='../about/main.html'>About</a>
          </li>
          <li class=''>
            <a href='../about/curriculum.html'>Curriculum</a>
          </li>
          <li class=''>
            <a href='../professors.html'>Professors & Research</a>
          </li>
          <li class=''>
            <a href='../students.html'>Student Life</a>
          </li>
          <li class=''>
            <a href='../about/campus.html'>Campus</a>
          </li>
          <li class=''>
            <a href='../about/expenses_and_financial_aid.html'>Tuition Fee</a>
          </li>
          <li class=''>
            <a href='../about/schools_cooperated.html'>Schools Incorporated</a>
          </li>
          <li class=''>
            <a href='../about/f_a_q.html'>F.A.Q</a>
          </li>
        </ul>
      </li>
      <li class=''>
        <a href='../news.html'>
          <span>News</span>
        </a>
      </li>
      <li class=''>
        <a href='../events.html'>
          <span>Events</span>
        </a>
      </li>
      <li class=''>
        <a href='../admissions.html'>
          <span>Admissions</span>
        </a>
      </li>
      <li class=''>
        <a href='../your_career.html'>
          <span>Your Career</span>
        </a>
      </li>
      <li class=''>
        <a href='../alumni_organization/main.html'>
          <span>Alumni Organization</span>
        </a>
      </li>
      <li class=''>
        <a href='../contact.html'>
          <span>Contact</span>
        </a>
      </li>
      <li class=''>
        <a href='../../cn/index.html'>
          <span>中国</span>
        </a>
      </li>
    </ul>
  </div>
</nav>