<!-- #footer -->
<footer id='footer'>
  <!-- #footer-main -->
  <div id='footer-main'>
    <div class='container'>
      <div class='row'>
        <div class='col-md-3 col-sm-6 info-box'>
          <h2 class='title'>BI-Fudan MBA Program</h2>
          <p>Register a new account and send in the pre-application form.</p>
          <p>
            <a class="btn btn-bordered" style="margin-top:10px" href="https://sso.fdsm.fudan.edu.cn/login?service=http%3A%2F%2Fapply.fdsm.fudan.edu.cn%2Fj_spring_cas_security_check%3Bjsessionid%3D1DB9A30C14AD0762AE2A514C7DCBD0E7">Apply Now</a>
          </p>
        </div>
        <div class='col-md-3 col-sm-6 info-box'>
          <h2 class='title'>Contact</h2>
          <div class='icon-boxes'>
            <div class='icon-box'>
              <div class='icon icon-wrap'>
                <i class='fa fa-map-marker'></i>
              </div>
              <div class='content'>670 Guoshun road
                <br>Starr Building
                <br>Room 701</div>
            </div>
            <div class='icon-box'>
              <div class='icon icon-wrap'>
                <i class='fa fa-phone'></i>
              </div>
              <div class='content'>
                <a href="tel:+00862155664776">0086 21 55664776</a>
              </div>
            </div>
            <div class='icon-box'>
              <div class='icon icon-wrap'>
                <i class='fa fa-envelope'></i>
              </div>
              <div class='content'>
                <a href="mailto:fdbi@fudan.edu.cn">fdbi@fudan.edu.cn</a>
              </div>
            </div>
            <div class='icon-box'>
              <div class='icon icon-wrap'>
                <i class='fa fa-globe'></i>
              </div>
              <div class='content'>
                <a href="http://fudan.edu.cn/">http://fudan.edu.ccn</a>
              </div>
            </div>
          </div>
        </div>
        <div class='col-md-3 col-sm-6 info-box'>
          <h2 class='title'>Useful Links</h2>
          <ul class='list-group useful-links'>
            <li class='list-group-item'>
              <i class="fa fa-angle-right fa-fixed-width"></i>
              <a href="current_students.html">Current Students</a>
            </li>
            <li class='list-group-item'>
              <i class="fa fa-angle-right fa-fixed-width"></i>
              <a href="calendar.html">Program Calendar</a>
            </li>
            <li class='list-group-item'>
              <i class="fa fa-angle-right fa-fixed-width"></i>
              <a href="#">Brochure<br>(1 - 2mb Max file size)</a>
            </li>
            <li class='list-group-item'>
              <i class="fa fa-angle-right fa-fixed-width"></i>
              <a href="admissions.html">Admissions</a>
            </li>
            <li class='list-group-item'>
              <i class="fa fa-angle-right fa-fixed-width"></i>
              <a href="your_career.html">Your Career</a>
            </li>
          </ul>
        </div>
        <div class='col-md-3 col-sm-6 info-box'>
          <h2 class='title'>Newsletter</h2>
          <p>Sign up for our <a class="underline" href="newsletter.html">Newsletter</a>.</p>
          <form action='index.html' class='form-inline form-validation' method='get'>
            <div class='row'>
              <div class='form-group control-group col-xs-9 col-md-8 col-lg-9'>
                <input class='form-control' data-rule-email='true' data-rule-required='true' id='newsletter_email' name='newsletter[email]' placeholder='Email address' type='email'>
              </div>
              <div class='col-xs-3 col-md-4 col-lg-3'>
                <button class='btn btn-bordered btn-block' type='submit'>
                  <i class='fa fa-reply'></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- .container -->
  </div>
  <!-- / #footer-main -->
  <!-- #footer-copyright -->
  <div id='footer-copyright'>
    <div class='container'>
      <div class='row'>
        <div class='col-lg-12 clearfix'>
          <p class='copyright'>Copyright &copy; 2015 Fudan</p>
        </div>
      </div>
    </div>
    <!-- .container -->
  </div>
  <!-- / #footer-copyright -->
</footer>
<!-- / #footer -->