<!-- .slide-show  header flexslider with animations -->
<div class='slide-show slide-show-blur slide-show-blur-arrows slide-show-blur-pagination flexslider' id='header-slide-show'>
  <ul class='slides'>
    <li class='item'>
      <div class='container'>
        <div class='row'>
          <div class='col-lg-12 animate'>
            <h1 class='fadeInUp animated'>The Best of Both</h1>
            <p class='fadeInUp animated'>BI-Fudan MBA Program.</p>
            <a class='btn btn-default btn-bordered btn-lg fadeInRight animated' href='about/main.html'>Learn more</a>
          </div>
        </div>
      </div>
    </li>
    <li class='item'>
      <div class='container'>
        <div class='row'>
          <div class='col-lg-12 animate'>
            <h1 class='fadeInUp animated'>Capitalise on the differences</h1>
            <p class='fadeInUp animated'>The program is designed to fit working professionals in Shanghai.</p>
            <a class='btn btn-default btn-bordered btn-lg fadeInRight animated' href='about/main.html'>Learn more</a>
          </div>
        </div>
      </div>
    </li>
    <li class='item'>
      <div class='container'>
        <div class='row'>
          <div class='col-lg-12 animate'>
            <h1 class='fadeInUp animated'>EST. 1996</h1>
            <p class='fadeInUp animated'>19 Years of wonderful experience.</p>
            <a class='btn btn-default btn-bordered btn-lg fadeInRight animated' href='about/main.html'>Learn more</a>
          </div>
        </div>
      </div>
    </li>
    <li class='item'>
      <div class='container'>
        <div class='row'>
          <div class='col-lg-12 animate'>
            <h1 class='fadeInUp animated'>Succeed in China</h1>
            <p class='fadeInUp animated'>Lack of understanding drives transaction costs.</p>
            <a class='btn btn-default btn-bordered btn-lg fadeInRight animated' href='admissions.html'>Learn More</a>
          </div>
        </div>
      </div>
    </li>
    <li class='item'>
      <div class='container'>
        <div class='row'>
          <div class='col-lg-12 animate'>
            <h1 class='fadeIn animated'>The Nordics: Inspiration for innovation.</h1>
            <p class='fadeIn animated'>The Nordic business culture carry ingredients that foster an innovative work environment.</p>
            <a class='btn btn-default btn-bordered btn-lg fadeIn animated' href='admissions.html'>Learn more</a>
          </div>
        </div>
      </div>
    </li>
    <li class='item'>
      <div class='container'>
        <div class='row'>
          <div class='col-lg-12 animate'>
            <h1 class='fadeInUp animated'>Your Career.</h1>
            <p class='fadeInUp animated'>Learn how this MBA program helps your professional career. Proven results. Statistics.</p>
            <a class='btn btn-default btn-bordered btn-lg fadeInRight animated' href='admissions.html'>Learn more</a>
          </div>
        </div>
      </div>
    </li>
    <li class='item'>
      <div class='container'>
        <div class='row'>
          <div class='col-lg-12 animate'>
            <h1 class='fadeInUp animated'>Join Now.</h1>
            <p class='fadeInUp animated'>Information for new applicants.</p>
            <a class='btn btn-default btn-bordered btn-lg fadeInRight animated' href='admissions.html'>Learn more</a>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
<!-- / .slide-show  header flexslider with animations -->