<div class="carousel carousel-default slide carousel-auto" id="carousel-testimonials">
  <div class="carousel-inner">
    <div class="item quote active">
      <div class="col-sm-12 text-center">
        <p class="lead">Quotes</p>
        <div class="author-wrapper">
          <p class="author">
            <strong>Name</strong>, Company
          </p>
        </div>
      </div>
    </div>
    <div class="item quote active">
      <div class="col-sm-12 text-center">
        <p class="lead">Lorem ipsum</p>
        <div class="author-wrapper">
          <p class="author">
            <strong>Name</strong>, Company
          </p>
        </div>
      </div>
    </div>
  </div>
  <ol class="carousel-indicators">
    <li class="" data-slide-to="0" data-target="#carousel-testimonials"></li>
    <li data-slide-to="1" data-target="#carousel-testimonials" class="active"></li>
  </ol>
</div>